
      
<!-- ######################## Header ######################## -->
        
        
        <header class="gift">
			<div class="layer">
              <h1 class="welcome_text" style=" color:WHITESMOKE;"> Gift the best in tech!</h1>    
		  </div>
		</header>
     
        
<!-- ######################## Section ######################## -->
     
   <section class="section_light">
   
        <div class="row">
        
         <div class="twelve columns">
			  <h4><!-- <span class="dropcap_black lsf-icon-dropcap" title="present"></span>
				  Contact with your Personal Shopper - --> Gift Advice
				  
			</h4>
			
			
	       <p class="grey">
				
				Are you not really into technology but you would like to gift somebody an special tech gift? We are here to help!
				<br><br>
				We find for you an original  gadget to gift. We give you ideas and best prices, including where to find it in a physical shop if you are not really into shopping online.
				<br><br>
				You just need to describe the person that you want to surprise and we do all the hard work to  find the perfect present at the perfect price :) 
				<!-- <br><br>
				Please don't forget to tell us what she/he already has.  -->
				
		</p>
        	
            </div>
        </div>
        
		
	</section>
	<section class="section_medium_dark">
		
      <!-- Contact Form -->
      <form novalidate  name="userForm" ng-init="setFormScope(this)">
     <input type="hidden" ng-model="main.composeEmail.section"  ng-init="main.composeEmail.section='GiftAdvice'"  />
     
	  <div class="row">
		 
		  <div class="six columns">
              <h3> How would you like to surprise him/her? </h3>
  			<br>
  			<textarea  name="message" class ="bigarea" ng-model="main.composeEmail.message" placeholder="Tell us a bit about that special person and how would you like to surprise her/him." required></textarea>
  		     <p ng-show="userForm.message.$invalid && userForm.$submitted" class="error">Required!</p>
          
		  <!-- <br> -->
   			<h3>Budget</h3>
   			  <input name="budget" type="text" ng-model="main.composeEmail.budget" 
   		         placeholder="Budget for the present :) " required>
  		<p ng-show="userForm.budget.$invalid && userForm.$submitted" class="error">Required!</p>
		  </div>
		  
		  
		  
        <div class="six columns">
          <!-- Row Layout for forms -->
          
            <h3>You</h3>
            <br>
			<input type="text"  name="name" ng-model="main.composeEmail.name"  placeholder="Name" required />
			<p ng-show="userForm.name.$invalid && userForm.$submitted" class="error">Required!</p>
			
   		   <div class="row">  
             <div class="six columns">
            <input name="city"  type="text"  ng-model="main.composeEmail.city" class="twelve" placeholder="City, Town"  required/>
             </div>
             <div class="six columns">
             <input name="country"  type="text"  ng-model="main.composeEmail.country" class="twelve" placeholder="Country" required/>
             </div>
        	</div>
	 	   <div class="row">  
	 		   	<div class="six columns">
	 	   <input name="email" type="email"  ng-model="main.composeEmail.email" class="twelve" placeholder="Email"  id="femail" required autocomplete="off"/>
	 	    <!-- <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Your email is incorrect</p>
	 	   -->
	 			<p ng-show="userForm.email.$invalid && userForm.$submitted" class="error">Your email is incorrect</p>
	        	</div>
	        	<div class="six columns">
	  		<input type="email"  name="emailConfirm" ng-model="main.composeEmail.emailConfirm" class="twelve" placeholder="Confirm Email"  match="femail" 
	  		 required/>
	  		<!-- <p ng-show="userForm.emailConfirm.$invalid && userForm.$submitted" class="error">Required!</p> -->
	  	   <p ng-show="userForm.emailConfirm.$error.mismatch && userForm.$submitted" class="error">Emails do NOT match</p>
	           	</div>
	      	  </div>
			  
 			
           
		   <br>
		    <!-- <div class="row">
              <div class="six columns">
                <input ng-model="main.composeEmail.name" type="text" placeholder="City" />
              </div>
              <div class="three columns">
                <input type="text" placeholder="State" />
              </div>
              <div class="three columns">
                <input type="text" placeholder="ZIP" />
              </div>
            </div> -->
		 </div>
		 

	</div>
	<div class="row">

        <div class="twelve columns">
	   <input type="submit" value="Submit" class="button success"    ng-click="main.saveInfo(userForm.$valid)"/> 
       
        </div>
	</div>
   </form>
		 
		 
    </section>
