
      
      
<!-- ######################## Header ######################## -->
        
        <header class="startup" >
			
			
		<!-- style="background-color:white;background-image:url(images/eye-icon.jpg); background-size: 210px auto; background-repeat: no-repeat;"
		 -->
			<div class="layer">
   		 <!-- <img src="images/label_green.png"   width="150" height="150"  style="text-align:right;position:absolute;right:50px; z-index: 0;"
		 />  -->			
	         <div class="row"  >
	 			 <div class ="twelve columns"  >
					<br>
              	<h1 class="heading_supersize" style="color:WHITESMOKE;">TECHNOLOGY SHOPPERS</h1>
   		  	 <h2 class="welcome_text" style="color:WHITESMOKE">{{ 'MAIN' | translate }}</h2>
   				 <br>
			 <div ng-switch on="main.language">
			     <div ng-switch-when="es">
					 <!-- SPanish-->
 					 <p align="center">
 						 <label style="color:darkgrey;">Español  |  <a href="/" ng-click="main.changeLanguage('en')"> English </a>
 			    		 </label>
			 		</p>
	   	     	</div>
	   	     	<div ng-switch-default> <!-- English-->
				<p align="center">
 					 <label style="color:darkgrey;"><a href="/" ng-click="main.changeLanguage('es')"> Español </a> | English </label>
			 	</p>
		
	   	   	 	</div>
	   		 </div>
				
				
				</div> <!--ROw --> 
			</div><!--Layer --> 
		</div><!--startup -->
		</header>
        
<!-- ######################## Section ######################## -->
     
   <section class="section_light" >
   
        <div class="row">
        
		<div class ="twelve columns">
			
				<h4  class"center grey-uppercase" >{{ 'MAIN2' | translate }} </h4>
			<p  class="center grey">
				{{ 'TITLE1' | translate }} <a href='/' onclick='document.getElementById("jumptowhy").scrollIntoView()'  >{{ 'WHY1' | translate }}</a><br>
				<!-- {{ 'TITLE2' | translate }}<br> -->
				{{ 'TITLE3' | translate }}<br>
				{{ 'TITLE4' | translate }} <b> {{ 'TITLE5' | translate }}</b><br>
	
		</p></div>
</div>
      <div class="row"  style="background:white;
  border: solid 1px #e6e6e6;">
	 
	 <!-- Shopping  Categories -->

     <div class="two columns" >
        		 <h3 class="center">
			        <a href="/computing" class="link" > 
					 <!-- <span class=" lsf-icon-dropcap" title="smartphone"></span> -->
					  <!-- dropcap_black -->
					  <i class="fi-laptop"></i>
					  <br>
					 {{ 'COMPUTING' | translate }}
				 	</a>
		 		
				 </h3>
		 <!-- <p> Looking for a new phone or laptop? We do all the hardwork for you and find the one that fits your needs</p> -->
       </div>
	   
	   
	    <div class="two columns center" >
		  <h3>
			  <a href="/sound" class="link"> <!--<span class=" lsf-icon-dropcap" title="music"></span> -->
				  <i class="fi-music"></i>
				  <br>
	 		 {{ 'SOUND' | translate }}
	 		 </a></h3>
	      <!-- <p>Speakers, Home Theather, MP3s , etc . We have specialist that look for you the best for your budget</p> -->
	    </div>
		
	   <div class="two columns center">
		   <a href="/photo"  class="link">   
			   <h3><!-- <span class=" lsf-icon-dropcap" title="camera"></span> -->
		   <i class="fi-camera"></i>
		   <br>
	 			{{ 'PHOTO' | translate }}
	 			</a>
	 		</h3>
	          <!-- <p>
	 		Are you looking to buy a digital camera.
	 		<br> We find the best camera for your needs</p> -->
	       </div>
	   
	   
       <div class="two columns center">
		    <a href="/home"  class="link">
         <h3>  <i class="fi-home"></i>
			 <br>
		 <!-- <span class=" lsf-icon-dropcap" title="home"></span> -->
		 {{ 'HOUSE' | translate }}
			 </a></h3>
         <!-- <p> Tehcnology is as well in our house appliances. Are you looking to change your fridge, washing machine, IoT..? We find the best deal for you</p>
       --> </div>
          <div class="two columns center">
            <h3>
				<a href="/wearable"  class="link">
					<i class="fi-male"></i>
					<!-- <span class=" lsf-icon-dropcap" title="walking"></span> -->
					<br>
								 {{ 'WEARABLE' | translate }}
				</a></h3>
            <!-- <p><!-- Data will not help you if you can’t see it when you need it.  
				</p> -->
          </div>
          <div class="two columns center">
            <h3><a href="/other"  class="link">
				<i class="fi-magnifying-glass"></i>
				<!-- <span class=" lsf-icon-dropcap" title="search"></span> -->
				<br>
				 {{ 'OTHER' | translate }}
				</a></h3>
            <!-- <p> The gadget that you are looking for is not here? Please let us know what it is...We try to get it for you, as <em>crazy</em> as it might sound like</p> -->
          </div>
    </div>
        
        </div>
        
    </section>

<!-- ######################## Section ######################## -->



        <section  class="section_dark">
   
           <div class="row"> 
      
   	    <h2> {{ 'GADGETWEEK' | translate }} -  New iPhone 7 Family - What is new?</h2>
           ￼  <div class="twelve columns">
     		 	 <p class="gadget_month">   
			
   	    This week Apple showcased the new iPhones. So what is new? and how they compare with their older brothers?
   		<br><br>
   	  <strong> <u>Camera</u></strong>
   		<br>
   		iPhone 7 Plus has dual camera as the iPhone 6 Plus and maintains the 12 megapixels but now it has dual-lens that allow you to  x2 <strong>zoom without loosing picture quality</strong>.
   		<br>
   		The <strong>lens are much faster</strong>. The iPhone 7 Plus has a new 6-element f/1.8 lens.Apple says 50% more light gets to the sensor this time around, which will <strong>improve low-light performance</strong>.
   		<br>
   		Also, it is possible to shoot in RAW mode to edit the photos with more precision on the phone or PC.
		
   		<br><br>
   	 <strong> <u>Selfie camera</u></strong>
   	  <br>
   	  The FaceTime camera on both iPhones got better as well. <br>
   	   7-megapixel front camera with f/2.2 aperture that has auto <strong>image stabilisation  and does Full HD video recording</strong>
   		<br>
   		So in terms of cameras it does seem clear that iPhone 7 is <strong>definitely a step up</strong>
   		<br><br>
  	    
   		<strong><u>Processor and Memory</u></strong><br>
   		Better processor and 3GB of memory something that will probably not be noticed but most of the users, only if you do a lot of multitasking and complex task  frequently
		
		
   		<br><br>
     	   <strong><u> Extras</u></strong>
     	  	<br>
   		Water resistant, new mate black finish , a wider  colour gamut screen but same resolution and  new <strong>wireless earphones</strong> (which paradoxically imply the need of buying more cables/adapters). We are not sure anybody should change its iPhone 6 if we take into account these new features.
   		<br><br>
   		So basically....in our opinion, the camera is the best improvement of this new iPhone and only people that really likes mobile photography should upgrade  to it :)
	  
	  
   		</p>	
   		  </div>
   	  </div>
	  
   	   <div class="row"> 
				   
   	    <!-- 	  -->

     	<div class="twelve columns" align="center">
   		 <!-- <a href="#" class="th">
   		<img border="0" src="http://gloimg.gearbest.com/gb/pdm-product-pic/Electronic/2016/05/16/goods-img/1463339221810353908.jpg" />
   	</a> -->
   			<!-- </div>

       <div class="two columns" align="center"> -->
			
   				<!-- <iframe width="250" height="250" src="https://www.youtube.com/embed/4FAjkC15ymE" frameborder="0" allowfullscreen></iframe>
   			<br> -->
					
   	  <a href="#" class="th">
   			<img border="0" src="http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/gallery1/iphone7-gallery1-2016?wid=1670&hei=1282&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1473278889824" ></a>
				
   			</div> 
     	
       <!-- <div class="six columns" align="center">
   					  <a href="#" class="th">
   						<img width="80%" src="https://ksr-ugc.imgix.net/assets/012/692/834/a2ce4d40f5931ad241124fd213dea28a_original.png?w=700&fit=max&v=1465483278&auto=format&q=92&s=1ecb962afbfa03c9183ffa22bf5f197c"/>
   					</a>



     	</div>  -->
   	</div>
   	<!-- <br><br>
   	<div class="row">

   	<div class="six twelve" align="center">
   	<iframe width="250" height="150" src="https://www.kickstarter.com/projects/2106691934/blocks-the-worlds-first-modular-smartwatch/widget/video.html" frameborder="0" scrolling="no"> </iframe>
   	</div>

   </div>
    	    -->
  	  	
		

   	  <br>
     		
        	 <div class="row"> 
             <!-- <div class="two columns">
         		  &nbsp;
               </div>	  -->
        		 <div class="six columns">
				 
   				 <!-- <a href="http://www.gearbest.com/smart-wristband/pp_263275.html/click-7896475-11991557-1414823636000" target="_top">hello </a> <br> -->

					
      			 <a rel="nofollow" href="http://www.apple.com/es/shop/buy-iphone/iphone-7" target="_blank" class="button radius left">Preorder ES @Apple €769 </a>
				 
				
   <br><br>
   <br>
      			 <a rel="nofollow" href="http://www.apple.com/es/shop/buy-iphone/iphone-7" target="_blank" class="button radius left">Preorder  ES @Apple Plus €909 </a>
				 
				
   <br><br>
   <br>
   			 <a rel="nofollow" href="http://www.apple.com/ie/iphone/" target="_blank">Find out more ...</a> 
			
    			</div>
 
     			<div class ="six columns" align="right">
   	   		 <a href="/blog" >{{ 'GADGETSWEEK' | translate }} >></a>
    		</div>
       <!-- <div class="two columns">
   	  &nbsp;
       </div>  -->
       		</div>
		
      
         </section>
   
	
		    
	  <!-- ##f##################### Section WHY ######################## -->

	       <section  class="section_light" name='jumptowhy' id='jumptowhy'>
	          <div class="row"> 
			
	  			<h4  class"center grey-uppercase"> {{ 'WHY1' | translate }}</h4>
	  			<p class="center grey"><!-- We know this is a new concept  so we give you below a few reasons why have a Personal technology shopper. <br> -->
	  				{{ 'WHY2' | translate }} </p>
		
	  		</div>
		
	  	  <div class="row"> 
	  		 <div class="six columns">
	  			 <table class="noborder"><tr><td>
	  			   <i class="fi-clock"></i> 
	  		   </td> <td> <strong>{{ 'TIME' | translate }}</strong> <br> <em>"{{ 'TIME1' | translate }}"</em> <br> {{ 'TIME2' | translate }}
	  		   </td>
	  			  <!-- <br>
	  			  Cool -->
	  			  </table>
			  
	        			<table class="noborder"><tr><td>
	        		 <strong> {{ 'KNOWLEDGE' | translate }} </strong> <br> {{ 'KNOWDLEGE1' | translate }} 
	        			 </td></tr>
	        		     </table>
			  
  			
			
			 
	   				<table class="noborder"><tr><td>
	   			  <i class="fi-target-two"></i> </td><td> <strong>{{'SUITABILITY' | translate }}</strong> <br> {{ 'SUITABILITY1' | translate }} 
	    		  		</td>
	    	  			</tr>
	      			</table>
			  
	  			<table class="noborder"><tr><td>
	  			  <strong>{{ 'QUALITY' | translate }}</strong> <br>
	  			  {{ 'QUALITY1' | translate }}
			  
			  
	  			  <!-- We focus in give you the best  quality advice possible. 

	  			  We appreciate your feedback and continualy try to improve your shopping experience -->
	  			  	</td>
	    	  			</tr>
	      			</table>
			 
	  			   <table class="noborder"><tr><td>
	  			  <i class="fi-torso"></i> </td> <td>  <strong>{{ 'INDEPENDENT' | translate }}</strong>  <br> {{ 'INDEPENDENT1' | translate }}	 </td></tr>
	  		     </table>
			  
			  
	  			  </p>
	  			 </div>
	  			 <div class="six columns">
	  				 <table class="noborder"><tr><td>
	  			  <i class="fi-euro"></i> </td><td> <strong>{{ 'MONEY' | translate }}</strong>  <br> 
	  				  {{ 'MONEY1' | translate }}
	  		  		</td>
	  	  			</tr>
	    			</table>
			
   		
	  	 <table class="noborder"><tr><td>
	  
	  	 <!--			  You don't have to take our advice -->
	  	 			<strong> {{ 'DOCUMENT' | translate }} </strong><br> {{ 'DOCUMENT1' | translate }} <br><br>
	  	  <!-- <br>
	  	  UPC or other ....... deals -->
	    		</td>
	   			</tr>
	  		</table>
		
				
	     			  <table class="noborder"><tr><td>
	     			 <i class="fi-lightbulb"></i> </td><td><strong>{{ 'IDEAS' | translate }}</strong> <br>
	  				 {{ 'IDEAS1' | translate }} 
	     			 </td></tr>
	     		     </table>
			
	  			<table class="noborder"><tr><td>
	  			 <strong> {{ 'EXCLUSIVITY' | translate }}</strong>
	  			  <br> {{ 'EXCLUSIVITY1' | translate }}
	  			 </td></tr>
	  		     </table>
			
			
	  			   <table class="noborder"><tr><td>
	  			   <i class="fi-flag"></i></td><td><strong>{{ 'SEVERALLANGUAGES' | translate }}</strong> <Br>
	  				{{ 'SEVERALLANGUAGES1' | translate }}
	  				   <br><br>
	  	   		  		</td>
	  	   	  			</tr>
	  	     			</table>
			 
	  		  </p>
			  
	  		</div>
		 
	  		</div>
	  	</div>
	  </section>	  
      
	  
	    	  <!-- ##f##################### PEOPLE section ######################## -->
	  
	           <section  class="section_green">
   
	              <div class="row"> 
      
	      	     <h2> What do you say? </h2> 
	              ￼  <div class="four columns">
	        		 	 <p class="gadget_month">   
	      		   <!-- <a href="#" class="th">  --> <img class="img-circle" scrolling="no" src="images/helena.jpg" width="150"> <!-- </a> -->
	  			  <br>
	  			 <strong> <em>  {{ 'HELENA' | translate }}</em></strong>
	   			  <!-- <br>
	   			   "Thanks a million. Very recommendable service !!!" -->
	  			    <br>
	  			   Helena, Lugo, Spain 
			
	    			    </p>
	                </div>
	  			  <div class="four columns">
	  			       		 	 <p class="gadget_month">   
			 			  <img class="img-circle" scrolling="no" src="images/mamen.jpg" width="150">
	  			     		  <br>
	    						<em>  {{ 'CUNADO' | translate }}</em>
	    			 			  <br>
	    			 			    Calin, Elche, Spain
						  
						
	  			   			    </p>
	  			               </div>
  			   
				  <div class="four columns">
	  			       		 	 <p class="gadget_month">   
	  			     		  <img class="img-circle" scrolling="no" src="images/luciai.jpeg" width="150">
						 
	  			 			  <br>
	  			 			<strong>  <em>  {{ 'LUCIA' | translate }}</em></strong>
	   			 			  <!-- <br>
	   			 			   "Super professional" -->
	   						  <br>
	   						  Lucia, Manchester, UK
  		 
	  			   			    </p>
	  			               </div>
			  
		   </div> 
		  <div class="row">
		  
		  
			  <div class="four columns">
	     		       		 	 <p class="gadget_month">
	        						 <em> {{ 'JCARLOS' | translate }}</em>
	        			 			  <br>
	        			 			    Juan Carlos, Lugo, Spain
  		 
	      		  	 </p>	 	
		  	 </div>
	  		  <div class="four columns">
	 		       		 	 <p class="gadget_month">
	    							<strong><em>  {{ 'KINGA' | translate }}</em></strong>
	      			 			  <br>
	      			 			    Kinga, Dublin, Ireland
	 		  	 </p>
  		       		 	
	   	  	 </div>
	     		  <div class="four columns">
				  
	     		       		 	 <p class="gadget_month">
	       	   <em>  {{ 'MAMEN' | translate }}</em>
	     	   <br>
	     	   Mamen, Dublin, Ireland
		  	 </p>
	  	 </div>
		 
		 
    	 
	  	</section>
	  
	  
	  
      	
<!-- ##f##################### Section ######################## -->

 <section class="section_main">

      <h2 style="text-align:center"> {{ 'EX' | translate }}</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel">
                    <h3>Pamela - IPL</h3>
                  <p>Pamela's Details: IPL Laser hair removal - UK - Thirties - Olive Skin - Dark Hair - Budget £200 but cheaper if possible - Brand is important for me -  For underarm and lower leg.</p>
                  <a href="/ex1" class="button secondary small radius right">Pamela's Top 3 &raquo;</a>
				  <br>
				  <br>
                </div>
                <div class="panel">
                    <h3>Ger - TV </h3>
                  <p> Civil servant -  Cycling gaming biking - Movies and TV programmes connection to Mac mini - Budget €1000
   				   <br>Sorry we missed you - incorrect email</p>
                  <a href="/ger311" class="button secondary small radius right">Ger's Top 3 &raquo;</a>
				  <br>
				  <br>
                </div>
          </article>


          <article class="six columns">
                <div class="panel">
                    <h3>Paul - Camera solution</h3>
                  <p>Paul's Details: Taxi Driver - Ireland - Fourties - I'm a taxi driver and I spend a lot of time outside my home as a result of that I cannot be with my new born baby that much. Would it be possible to feel more connected with him? I have heard of baby monitors that can be connected to your phone. Some of my family is in Australia and I would like for them to see him too. </p>
                  <a href="/ex2" class="button secondary small radius right">Paul's Solution &raquo;</a>
				  <br><br>
				   
                </div>
          </article>

      </div> 
      
      
</section>


