
      
      
<!-- ######################## Header ######################## -->
        
        <header class="startup" >
			
			
		<!-- style="background-color:white;background-image:url(images/eye-icon.jpg); background-size: 210px auto; background-repeat: no-repeat;"
		 -->
			<div class="layer">
   		 <!-- <img src="images/label_green.png"   width="150" height="150"  style="text-align:right;position:absolute;right:50px; z-index: 0;"
		 />  -->			
	         <div class="row"  >
	 			 <div class ="twelve columns"  >
					<br>
              	<h1 class="heading_supersize" style="color:WHITESMOKE;">TECHNOLOGY SHOPPERS</h1>
   		  	 <h2 class="welcome_text" style="color:WHITESMOKE">{{ 'MAIN' | translate }}</h2>
   				 <br>
			 <div ng-switch on="main.language">
			     <div ng-switch-when="es">
					 <!-- SPanish-->
 					 <p align="center">
 						 <label style="color:darkgrey;">Español  |  <a href="#/" ng-click="main.changeLanguage('en')"> English </a>
 			    		 </label>
			 		</p>
	   	     	</div>
	   	     	<div ng-switch-default> <!-- English-->
				<p align="center">
 					 <label style="color:darkgrey;"><a href="#/" ng-click="main.changeLanguage('es')"> Español </a> | English </label>
			 	</p>
		
	   	   	 	</div>
	   		 </div>
				
				
				</div> <!--ROw --> 
			</div><!--Layer --> 
		</div><!--startup -->
		</header>
        
<!-- ######################## Section ######################## -->
     
   <section class="section_light" >
   
        <div class="row">
        
		<div class ="twelve columns">
			
				<h4  class"center grey-uppercase">{{ 'MAIN2' | translate }} </h4>
			<p  class="center grey">
				{{ 'TITLE1' | translate }} <br>
				{{ 'TITLE2' | translate }}<br>
				{{ 'TITLE3' | translate }}<br>
				{{ 'TITLE4' | translate }} <b> {{ 'TITLE5' | translate }}</b><br>
	
		</p></div>
</div>
      <div class="row"  style="background:white;
  border: solid 1px #e6e6e6;">
	 
	 <!-- Shopping  Categories -->

     <div class="two columns" >
        		 <h3 class="center">
			        <a href="#/computing" class="link" > 
					 <!-- <span class=" lsf-icon-dropcap" title="smartphone"></span> -->
					  <!-- dropcap_black -->
					  <i class="fi-laptop"></i>
					  <br>
					 {{ 'COMPUTING' | translate }}
				 	</a>
		 		
				 </h3>
		 <!-- <p> Looking for a new phone or laptop? We do all the hardwork for you and find the one that fits your needs</p> -->
       </div>
	   
	   
	    <div class="two columns center" >
		  <h3>
			  <a href="#/sound" class="link"> <!--<span class=" lsf-icon-dropcap" title="music"></span> -->
				  <i class="fi-music"></i>
				  <br>
	 		 {{ 'SOUND' | translate }}
	 		 </a></h3>
	      <!-- <p>Speakers, Home Theather, MP3s , etc . We have specialist that look for you the best for your budget</p> -->
	    </div>
		
	   <div class="two columns center">
		   <a href="#/photo"  class="link">   
			   <h3><!-- <span class=" lsf-icon-dropcap" title="camera"></span> -->
		   <i class="fi-camera"></i>
		   <br>
	 			{{ 'PHOTO' | translate }}
	 			</a>
	 		</h3>
	          <!-- <p>
	 		Are you looking to buy a digital camera.
	 		<br> We find the best camera for your needs</p> -->
	       </div>
	   
	   
       <div class="two columns center">
		    <a href="#/home"  class="link">
         <h3>  <i class="fi-home"></i>
			 <br>
		 <!-- <span class=" lsf-icon-dropcap" title="home"></span> -->
		 {{ 'HOUSE' | translate }}
			 </a></h3>
         <!-- <p> Tehcnology is as well in our house appliances. Are you looking to change your fridge, washing machine, IoT..? We find the best deal for you</p>
       --> </div>
          <div class="two columns center">
            <h3>
				<a href="#/wearable"  class="link">
					<i class="fi-male"></i>
					<!-- <span class=" lsf-icon-dropcap" title="walking"></span> -->
					<br>
								 {{ 'WEARABLE' | translate }}
				</a></h3>
            <!-- <p><!-- Data will not help you if you can’t see it when you need it.  
				</p> -->
          </div>
          <div class="two columns center">
            <h3><a href="#/other"  class="link">
				<i class="fi-magnifying-glass"></i>
				<!-- <span class=" lsf-icon-dropcap" title="search"></span> -->
				<br>
				 {{ 'OTHER' | translate }}
				</a></h3>
            <!-- <p> The gadget that you are looking for is not here? Please let us know what it is...We try to get it for you, as <em>crazy</em> as it might sound like</p> -->
          </div>
    </div>
        
        </div>
        
    </section>

	
<!-- ######################## Section ######################## -->

     <section  class="section_dark">
   
        <div class="row"> 
      
        <h2> {{ 'GADGETWEEK' | translate }}  -  BAUBAX - Travel Jacket</h2>
        ￼  <div class="twelve columns">
  		  <p class="gadget_month">   
			  
  			  We are still on the holidays season, so we wanted to show a gadget that helps make a bit easier the travel to your, I'm sure, gorgeous destination....or your camping trip.
  			  <br>
  			  <br>
			  
  		 This travel jacket with built-in neck pillow, eye mask, gloves, drink pocket etc should help you. It comes in 4 Styles : Sweatshirt,  windbreaker,  bomber jacket or  blazer and it has pockets designed for tech, including spots for earbuds and a phone, but also for a tablet.

  				<br><br>
  				 Baubax is close to  the $5 million figure in kickstarter which is an incredible number for a clothing project (and for any kind of crowdfunding project). Yes, we know that is not strictly speaking "technology" but we believe could help store your gadgets on those long plain/train trips.
  				 <br> <br>
  				 If you want to pre-order one you have <strong>less than 20 days left</strong>, so your better hurry up!  $119 (the $99 pledges are sold out) gets you in line for a jacket.
  				 <br>
  				 We hope when we store all our gadgets on the Baubax jacket, we can still walk and look cool ;)

  	  </p>
    	</div>
	  
       <div class="two columns">
  		  &nbsp;
        </div>  
	  
            <div class="eight columns" align="center">
  			  <br><br>
  			 <img  width='600' heigth='600'
  			 			src="http://www.baubax.com/wp-content/uploads/2015/07/15TextCallout.png" alt="Your Personal Shoppers - http://www.yourtechshoppers.com - Gadget of the Week - BAUBAX - Travel Jacket" target="_blank" >
  			 			</img> <p class="gadget_month">   
					
  				 </p>
  		 </div> 
         <div class="two columns">
     		  &nbsp;
           </div>  
		 
  		</div>
		
		
		
		
   
  	   <div class="row">
           <div class="two columns">
     		  &nbsp;

           </div> 
		 
  	 	<!-- <div class ="four columns" >
  	 <br>
  	<a  href="http://www.chipchick.com/2014/03/danbo-portable-charger.html"
  	class=" fi-like " target="_blank" title="love">&nbsp; Lovers</a>
  	  </div>
  	<div class ="four columns" align="right">
  	 <br>

  	<a  href="http://whatsgoodtodo.co.uk/robot-head-portable-charger-review/"
  	target="_blank"
  					class=" fi-dislike  "
  		 		   	title="trouble"   > &nbsp; Haters </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  	  </div> -->
		 
             <div class="two columns">
  			  &nbsp;
           </div> 
        </div>
	  
  	  <br>
	  
  	 <div class="row"> 
      <!-- <div class="two columns">
   		  &nbsp;
         </div>	 --> 
  		 <div class="twelve columns"  align="center">
  	<a href="https://www.kickstarter.com/projects/597538543/the-worlds-best-travel-jacket-with-15-features-bau/pledge/new?clicked_reward=false&ref=home_popular&src=back-this-project" target="_blank" > Pre-order (cotton sweatshirt): $119  + $20  <br> Pre-order (water-repellent windbreaker  bomber jacket) : $129  + $20 	</a>

  	<p class="gadget_month">   
  	Estimated shipping Nov 2015
  </p>
	
  	<a href="http://www.baubax.com/" target="_blank" > More info...</a>
					
				

  		 </div>
		 
        <!-- <div class="two columns">
  		  &nbsp; -->
        </div> 
    		</div>
		
      
      </section>
  
<!-- ######################## Section ######################## -->

 <section class="section_main">

      <h2 style="text-align:center">{{ 'EX' | translate }}</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel">
                    <h3>Pamela - IPL</h3>
                  <p>Pamela's Details: IPL Laser hair removal - UK - Thirties - Olive Skin - Dark Hair - Budget £200 but cheaper if possible - Brand is important for me -  For underarm and lower leg.</p>
                  <a href="#/blog" class="button secondary small radius right">Pamela's Top 3 &raquo;</a>
				  <br>
				  <br>
                </div>
          </article>


          <article class="six columns">
                <div class="panel">
                    <h3>Paul - Camera solution</h3>
                  <p>Paul's Details: Taxi Driver - Ireland - Fourties - I'm a taxi driver and I spend a lot of time outside my home as a result of that I can not be with my new born baby that much. Would it be possible to feel more connected with him? I have heard of baby monitors that can be connected to your phone. Some of my family is in Australia and I would like for them to see him too. </p>
                  <a href="#/blog2" class="button secondary small radius right">Paul's Solution &raquo;</a>
				  <br><br>
				   
                </div>
          </article>

      </div> 
      
      
</section>

