
      
      
<!-- ######################## Header ######################## -->
        
        <header class="startup" >
			
			
		<!-- style="background-color:white;background-image:url(images/eye-icon.jpg); background-size: 210px auto; background-repeat: no-repeat;"
		 -->
			<div class="layer">
   		 <!-- <img src="images/label_green.png"   width="150" height="150"  style="text-align:right;position:absolute;right:50px; z-index: 0;"
		 />  -->			
	         <div class="row"  >
	 			 <div class ="twelve columns"  >
					<br>
              	<h1 class="heading_supersize" style="color:WHITESMOKE;">TECHNOLOGY SHOPPERS</h1>
   		  	 <h2 class="welcome_text" style="color:WHITESMOKE">{{ 'MAIN' | translate }}</h2>
   				 <br>
			 <div ng-switch on="main.language">
			     <div ng-switch-when="es">
					 <!-- SPanish-->
 					 <p align="center">
 						 <label style="color:darkgrey;">Español  |  <a href="/" ng-click="main.changeLanguage('en')"> English </a>
 			    		 </label>
			 		</p>
	   	     	</div>
	   	     	<div ng-switch-default> <!-- English-->
				<p align="center">
 					 <label style="color:darkgrey;"><a href="/" ng-click="main.changeLanguage('es')"> Español </a> | English </label>
			 	</p>
		
	   	   	 	</div>
	   		 </div>
				
				
				</div> <!--ROw --> 
			</div><!--Layer --> 
		</div><!--startup -->
		</header>
        
<!-- ######################## Section ######################## -->
     
   <section class="section_light" >
   
        <div class="row">
        
		<div class ="twelve columns">
			
				<h4  class"center grey-uppercase">{{ 'MAIN2' | translate }} </h4>
			<p  class="center grey">
				{{ 'TITLE1' | translate }} <a href='/' onclick='document.getElementById("jumptowhy").scrollIntoView()'  >{{ 'WHY1' | translate }}</a><br>
				<!-- {{ 'TITLE2' | translate }}<br> -->
				{{ 'TITLE3' | translate }}<br>
				{{ 'TITLE4' | translate }} <b> {{ 'TITLE5' | translate }}</b><br>
	
		</p></div>
</div>
      <div class="row"  style="background:white;
  border: solid 1px #e6e6e6;">
	 
	 <!-- Shopping  Categories -->

     <div class="two columns" >
        		 <h3 class="center">
			        <a href="/computing" class="link" > 
					 <!-- <span class=" lsf-icon-dropcap" title="smartphone"></span> -->
					  <!-- dropcap_black -->
					  <i class="fi-laptop"></i>
					  <br>
					 {{ 'COMPUTING' | translate }}
				 	</a>
		 		
				 </h3>
		 <!-- <p> Looking for a new phone or laptop? We do all the hardwork for you and find the one that fits your needs</p> -->
       </div>
	   
	   
	    <div class="two columns center" >
		  <h3>
			  <a href="/sound" class="link"> <!--<span class=" lsf-icon-dropcap" title="music"></span> -->
				  <i class="fi-music"></i>
				  <br>
	 		 {{ 'SOUND' | translate }}
	 		 </a></h3>
	      <!-- <p>Speakers, Home Theather, MP3s , etc . We have specialist that look for you the best for your budget</p> -->
	    </div>
		
	   <div class="two columns center">
		   <a href="/photo"  class="link">   
			   <h3><!-- <span class=" lsf-icon-dropcap" title="camera"></span> -->
		   <i class="fi-camera"></i>
		   <br>
	 			{{ 'PHOTO' | translate }}
	 			</a>
	 		</h3>
	          <!-- <p>
	 		Are you looking to buy a digital camera.
	 		<br> We find the best camera for your needs</p> -->
	       </div>
	   
	   
       <div class="two columns center">
		    <a href="/home"  class="link">
         <h3>  <i class="fi-home"></i>
			 <br>
		 <!-- <span class=" lsf-icon-dropcap" title="home"></span> -->
		 {{ 'HOUSE' | translate }}
			 </a></h3>
         <!-- <p> Tehcnology is as well in our house appliances. Are you looking to change your fridge, washing machine, IoT..? We find the best deal for you</p>
       --> </div>
          <div class="two columns center">
            <h3>
				<a href="/wearable"  class="link">
					<i class="fi-male"></i>
					<!-- <span class=" lsf-icon-dropcap" title="walking"></span> -->
					<br>
								 {{ 'WEARABLE' | translate }}
				</a></h3>
            <!-- <p><!-- Data will not help you if you can’t see it when you need it.  
				</p> -->
          </div>
          <div class="two columns center">
            <h3><a href="/other"  class="link">
				<i class="fi-magnifying-glass"></i>
				<!-- <span class=" lsf-icon-dropcap" title="search"></span> -->
				<br>
				 {{ 'OTHER' | translate }}
				</a></h3>
            <!-- <p> The gadget that you are looking for is not here? Please let us know what it is...We try to get it for you, as <em>crazy</em> as it might sound like</p> -->
          </div>
    </div>
        
        </div>
        
    </section>


<!-- ######################## Section ######################## -->




     <section  class="section_dark">
   
        <div class="row"> 
      
        <h2> {{ 'GADGETWEEK' | translate }} -  GHD  Family - Hair Straighteners</h2>
        ￼  <div class="twelve columns">
  		  <p class="gadget_month">   
		 The IV GHD straighteners are still one of the best seller straighteners....but are the new models worth buying or should we stick with the	 old GHD IV? 
	
		
		<br><br>
		Differences <br>
			<strong>IV:</strong> High quality ceramic straightener. From <a target="_blank" href="http://www.amazon.co.uk/s/ref=as_li_ss_tl?_encoding=UTF8&camp=1634&creative=19450&field-keywords=ghd%20iv%20styler&linkCode=ur2&sprefix=ghd%20iv%20styler%2Caps%2C125&tag=yourtechshopp-21&url=search-alias%3Daps">about 100€</a><img src="https://ir-uk.amazon-adsystem.com/e/ir?t=yourtechshopp-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
			<strong>V: </strong> Better ceramic finish obtaining better results. Safety shutdown. From  <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/B005U9Q1O0/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005U9Q1O0&linkCode=as2&tag=yourtechshopp-21">about €140</a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=yourtechshopp-21&l=as2&o=2&a=B005U9Q1O0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

 <br>
			<strong>Eclipse: </strong>6 temperature sensors to get optimum temperature.Safety shutdown. work in a lower temperature range than competitors so they take care of your hair. From<a rel="nofollow" href="http://www.amazon.co.uk/gp/product/B00C1MGGP8/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00C1MGGP8&linkCode=as2&tag=yourtechshopp-21">  a bit more than €200</a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=yourtechshopp-21&l=as2&o=2&a=B00C1MGGP8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


			<br><br>
		 We believe IV  can  still be the perfect choice for the majority of people when we compare the prices and the improvements in each new model.
			
			<br><br>
			Competitors like <a rel="nofollow" href="http://www.amazon.co.uk/gp/product/B005KMK9DQ/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B005KMK9DQ&linkCode=as2&tag=yourtechshopp-21">Karmin</a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=yourtechshopp-21&l=as2&o=2&a=B005KMK9DQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

  are getting to their level and winning popularity...so don't dismiss other brands. 
	 <br><Br>
	 The price really varies depending on where you buy it so contact us if you want us to search the best deal ;) .. or explain you in detail the differences between these models and/or other hair straighteners
  	  
	  </p>
    	</div>
   
 
   <div class="six columns" align="center">
	   <img  src="images/ghd/ghd1.JPG"   target="_blank" >
         <!-- <p class="gadget_month" style='text-align:center'>
    Images from Indiegogo.com
    </p> -->
    </div>
  
  <div class="six columns" align="center">
  <img  src="images/ghd/ghd2.JPG"   target="_blank" ><br><br>	
   </div>
  <!-- <div class="twelve columns" align="center">
	  <img  src="images/Invincible-Audio-football-new.png"  target="_blank" > </img>


  </div> -->
   
	

        
	  
      
		 
  		</div>

  <div class="row">
           <div class="two columns">
     		  &nbsp;

           </div> 
		 
		 
  
  	 	<!-- <div class ="four columns" >
  	 <br>
  	<a  href="http://www.chipchick.com/2014/03/danbo-portable-charger.html"
  	class=" fi-like " target="_blank" title="love">&nbsp; Lovers</a>
  	  </div>
  	<div class ="four columns" align="right">
  	 <br>

  	<a  href="http://whatsgoodtodo.co.uk/robot-head-portable-charger-review/"
  	target="_blank"
  					class=" fi-dislike  "
  		 		   	title="trouble"   > &nbsp; Haters </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  	  </div> -->
		 
             <div class="two columns">
  			  &nbsp;
           </div> 
        </div>
	  
  	 
	 
	 
     	   <div class="row">
            <!-- <div class="two columns">
        		  &nbsp;

              </div>   -->
		 
     	 	<div class ="six columns" >
     	 
		<!--   <a  href="http://www.androidauthority.com/bro-ball-football-speaker-644190/"
		class=" fi-like " target="_blank" title="love">&nbsp; Lovers</a>
     	  </div>
      <div class ="six columns" align="right">
 		 <a  href="http://www.macworld.com/article/2874384/drop-review-an-ipad-connected-scale-for-beginning-bakers.html"
	target="_blank"
					class=" fi-dislike  "
		 		   	title="trouble"   >&nbsp; No so much </a>  -->
    
		  
     	  </div>
		 
               <!-- <br><div class="two columns">
     			  &nbsp;
              </div>  -->
           </div>
	  <br>
     		
     	 <div class="row"> 
          <!-- <div class="two columns">
      		  &nbsp;
            </div>	  -->
     		 <div class="six columns">
				 
				 <!-- <a href="http://www.gearbest.com/smart-wristband/pp_263275.html/click-7896475-11991557-1414823636000" target="_top">hello </a> <br> -->

<a target="_blank" href="http://www.amazon.co.uk/s/ref=as_li_ss_tl?_encoding=UTF8&camp=1634&creative=19450&field-keywords=ghd%20iv%20styler&linkCode=ur2&sprefix=ghd%20iv%20styler%2Caps%2C125&tag=yourtechshopp-21&url=search-alias%3Daps">Amazon UK  - GHD IV - €105</a><img src="https://ir-uk.amazon-adsystem.com/e/ir?t=yourtechshopp-21&l=ur2&o=2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<br>
  <!-- <p  style='color:white'>
Estimated shipping July 2016
</p> -->


		<a rel="nofollow" href="http://www.ghdhair.com" target="_blank">Find out more ...</a>
 </div>
 
  	<div class ="six columns" align="right">
	   <a href="#/blog" >{{ 'GADGETSWEEK' | translate }} >></a>
 
 
  	  </div>
 
	 
	  
    <!-- <div class="two columns">
	  &nbsp;
    </div>  -->
    		</div>
		
      
      
	  <!-- ##f##################### Section WHY ######################## -->

	       <section  class="section_light" name='jumptowhy' id='jumptowhy'>
	          <div class="row"> 
			
	  			<h4  class"center grey-uppercase"> {{ 'WHY1' | translate }}</h4>
	  			<p class="center grey"><!-- We know this is a new concept  so we give you below a few reasons why have a Personal technology shopper. <br> -->
	  				{{ 'WHY2' | translate }} </p>
		
	  		</div>
		
	  	  <div class="row"> 
	  		 <div class="six columns">
	  			 <table class="noborder"><tr><td>
	  			   <i class="fi-clock"></i> 
	  		   </td> <td> <strong>{{ 'TIME' | translate }}</strong> <br> <em>"{{ 'TIME1' | translate }}"</em> <br> {{ 'TIME2' | translate }}
	  		   </td>
	  			  <!-- <br>
	  			  Cool -->
	  			  </table>
			  
	        			<table class="noborder"><tr><td>
	        		 <strong> {{ 'KNOWLEDGE' | translate }} </strong> <br> {{ 'KNOWDLEGE1' | translate }} 
	        			 </td></tr>
	        		     </table>
			  
  			
			
			 
	   				<table class="noborder"><tr><td>
	   			  <i class="fi-target-two"></i> </td><td> <strong>{{'SUITABILITY' | translate }}</strong> <br> {{ 'SUITABILITY1' | translate }} 
	    		  		</td>
	    	  			</tr>
	      			</table>
			  
	  			<table class="noborder"><tr><td>
	  			  <strong>{{ 'QUALITY' | translate }}</strong> <br>
	  			  {{ 'QUALITY1' | translate }}
			  
			  
	  			  <!-- We focus in give you the best  quality advice possible. 

	  			  We appreciate your feedback and continualy try to improve your shopping experience -->
	  			  	</td>
	    	  			</tr>
	      			</table>
			 
	  			   <table class="noborder"><tr><td>
	  			  <i class="fi-torso"></i> </td> <td>  <strong>{{ 'INDEPENDENT' | translate }}</strong>  <br> {{ 'INDEPENDENT1' | translate }}	 </td></tr>
	  		     </table>
			  
			  
	  			  </p>
	  			 </div>
	  			 <div class="six columns">
	  				 <table class="noborder"><tr><td>
	  			  <i class="fi-euro"></i> </td><td> <strong>{{ 'MONEY' | translate }}</strong>  <br> 
	  				  {{ 'MONEY1' | translate }}
	  		  		</td>
	  	  			</tr>
	    			</table>
			
   		
	  	 <table class="noborder"><tr><td>
	  
	  	 <!--			  You don't have to take our advice -->
	  	 			<strong> {{ 'DOCUMENT' | translate }} </strong><br> {{ 'DOCUMENT1' | translate }} <br><br>
	  	  <!-- <br>
	  	  UPC or other ....... deals -->
	    		</td>
	   			</tr>
	  		</table>
		
				
	     			  <table class="noborder"><tr><td>
	     			 <i class="fi-lightbulb"></i> </td><td><strong>{{ 'IDEAS' | translate }}</strong> <br>
	  				 {{ 'IDEAS1' | translate }} 
	     			 </td></tr>
	     		     </table>
			
	  			<table class="noborder"><tr><td>
	  			 <strong> {{ 'EXCLUSIVITY' | translate }}</strong>
	  			  <br> {{ 'EXCLUSIVITY1' | translate }}
	  			 </td></tr>
	  		     </table>
			
			
	  			   <table class="noborder"><tr><td>
	  			   <i class="fi-flag"></i></td><td><strong>{{ 'SEVERALLANGUAGES' | translate }}</strong> <Br>
	  				{{ 'SEVERALLANGUAGES1' | translate }}
	  				   <br><br>
	  	   		  		</td>
	  	   	  			</tr>
	  	     			</table>
			 
	  		  </p>
			  
	  		</div>
		 
	  		</div>
	  	</div>
	  </section>	  
      
<!-- ##f##################### Section ######################## -->

 <section class="section_main">

      <h2 style="text-align:center"> {{ 'EX' | translate }}</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel">
                    <h3>Pamela - IPL</h3>
                  <p>Pamela's Details: IPL Laser hair removal - UK - Thirties - Olive Skin - Dark Hair - Budget £200 but cheaper if possible - Brand is important for me -  For underarm and lower leg.</p>
                  <a href="/ex1" class="button secondary small radius right">Pamela's Top 3 &raquo;</a>
				  <br>
				  <br>
                </div>
          </article>


          <article class="six columns">
                <div class="panel">
                    <h3>Paul - Camera solution</h3>
                  <p>Paul's Details: Taxi Driver - Ireland - Fourties - I'm a taxi driver and I spend a lot of time outside my home as a result of that I cannot be with my new born baby that much. Would it be possible to feel more connected with him? I have heard of baby monitors that can be connected to your phone. Some of my family is in Australia and I would like for them to see him too. </p>
                  <a href="/ex2" class="button secondary small radius right">Paul's Solution &raquo;</a>
				  <br><br>
				   
                </div>
          </article>

      </div> 
      
      
</section>


